.NavBar__container {
 width: 100%;
 display: flex;
 justify-content: space-between;
 padding: 10px 20px;
}

.Movieapp__logo {
    font-weight: bold;
    color: #383b4b;
    border: 2px solid white;
    background-color: rgb(1, 210, 119);
    padding: 10px;
    text-align: center;
}

.NavBar__container > ul {
 width: 50%;
 display: flex;
 justify-content: space-around;
}

.Tab__container {
 list-style: none;
 display: flex;
 justify-content: center;
 align-items: center;
 color: #9898b3;
 cursor: pointer;
 padding: 0 5px;
}

.Tab__container:hover {
    opacity: 0.8;
}

.Tab__selected {
 border-bottom: 2px solid #9898b3;
}

.Tab_icons {
 width: 30px;
 height: 30px;
 padding-bottom: 5px;
 border-bottom: 2px solid transparent;
}

@media (max-width: 600px) {
    .NavBar__container > ul {
        width: 70%;
        
    }
    
}