.Favorites__container {
 width: 370px;
 background: linear-gradient(#383b4b,#0f0f18);
 margin: 0 auto;
}

.Favorites_list {
 position: relative;
 width: 100%;
 height: calc(100vh - 80px);
 max-height: calc(100vh - 60px);
 overflow-y: auto;
}

.Favorites_list > h1 {
  position: absolute;
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 600px) {
 .Favorites__container {
  width: 600px;
  overflow-x: hidden;
 }
 
}

@media (min-width: 800px) {
 .Favorites__container {
  width: 100vw;
  overflow-x: hidden;
 }

   .Favorites_list {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto;
    padding-right: 10px;
   }
 
}

